[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
	ignore = dirty
[submodule "vendor/tokenizers"]
	path = vendor/tokenizers
	url = https://github.com/mlc-ai/tokenizers-cpp.git
	ignore = dirty
[submodule "vendor/replxx"]
	path = vendor/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
