[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "tokenizers"]
	path = tokenizers
	url = https://github.com/huggingface/tokenizers.git
[submodule "cpp-tiktoken"]
	path = cpp-tiktoken
	url = https://github.com/gh-markt/cpp-tiktoken.git
